In [141]:
import numpy as np
import re
import pandas as pd

In [159]:
df1=pd.read_csv("./third.csv")
df2=pd.read_csv("./sixth.csv")
df3=pd.read_csv("./seventh.csv")
df4=pd.read_csv("./secondf.csv")
df6=pd.read_csv("./forth.csv")
df7=pd.read_csv("./firstdf.csv")
df8=pd.read_csv("./fifth.csv")
df9=pd.read_csv("./fece.csv")

cars=[df1,df2,df3,df4,df6,df7,df8,df9]
all_cars=pd.concat(cars)

In [143]:
all_cars.tail()

,Unnamed: 0,Brand,Model,Year,Km,EngSize,Hp,Fuel,Gear Type,Fuel Consumption,Price
2495,2495,Renault,1.5 dCi Expression,2011.0,285.000 km,1401 - 1600 cm3,101 - 125 HP,Dizel,Düz,NaN,NaN
2496,2496,Renault,1.3 TCe Joy,2020.0,13.500 km,1332 cc,140 hp,Benzin,Düz,"5,5 lt",NaN
2497,2497,Renault,1.5 dCi Dynamique,2009.0,360.000 km,1461 cc,105 hp,Dizel,Düz,"4,5 lt",NaN
2498,2498,Renault,1.5 dCi Touch,2017.0,114.000 km,1461 cc,110 hp,Dizel,Yarı Otomatik,"3,8 lt",NaN
2499,2499,Renault,1.5 dCi Authentique,2011.0,222.000 km,1461 cc,85 hp,Dizel,Düz,"4,5 lt",NaN

In [133]:
all_cars.head()

,Unnamed: 0,Brand,Model,Year,Km,EngSize,Hp,Fuel,Gear Type,Fuel Consumption,Price
0,0,Volkswagen,1.2 TDi Trendline,2012.0,170000,1199,75,Dizel,Düz,"3,8 lt",325.000 TL
1,1,Volkswagen,1.6 TDi Comfortline,2010.0,135000,1598,90,Dizel,Yarı Otomatik,"4,3 lt",355.000 TL
2,2,Volkswagen,1.6 TDi Comfortline,2018.0,130000,1598,95,Dizel,Yarı Otomatik,"3,9 lt",600.000 TL
3,3,Volkswagen,1.2 TSi Comfortline,2014.0,114000,1197,90,Benzin,Yarı Otomatik,"4,7 lt",522.500 TL
4,4,Volkswagen,1.4 TDi Comfortline,2017.0,214775,1422,90,Dizel,Yarı Otomatik,"3,5 lt",469.750 TL

In [162]:
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16972 entries, 0 to 2499
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         16972 non-null  int64
 1   Brand              16920 non-null  object
 2   Model              16920 non-null  object
 3   Year               1768 non-null   object
 4   Km                 16920 non-null  object
 5   EngSize            16661 non-null  object
 6   Hp                 16649 non-null  object
 7   Fuel               16920 non-null  object
 8   Gear Type          16920 non-null  object
 9   Fuel Consumption   15990 non-null  object
 10  Price              14426 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.6+ MB

In [138]:
all_cars['Year'] = all_cars['Year'].str.extract("(\d+)").astype(float)

In [147]:
all_cars['Year'] = all_cars['Year'].str.extract("(\d{4})").astype(float)

In [153]:
all_cars["Year"]=all_cars["Year"].astype(float)

In [99]:
all_cars["Km"]=all_cars["Km"].str.replace(" km", "").str.replace(".", "").astype(float).astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_11260\2285984959.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_cars["Km"]=all_cars["Km"].str.replace(" km", "").str.replace(".", "").astype(float).astype(int)

In [161]:
all_cars["Year"]=all_cars["Year"].str.replace("Yıl:\n\r\n "," ")

In [124]:
all_cars["EngSize"]=all_cars["EngSize"].str.replace(" cc", "")
all_cars["EngSize"]=all_cars["EngSize"].str.replace(" cm3", "")

In [125]:
all_cars["EngSize"]=all_cars["EngSize"].str.replace(" -", "")

In [132]:
all_cars['EngSize'] = all_cars['EngSize'].str.split(" ").str[0].astype(int)

In [ ]:
all_cars["Hp"]=all_cars["Hp"].str.replace(" hp", "")

In [95]:
all_cars["Km"]=all_cars["Km"].astype(float)

ValueError: could not convert string to float: '1.312.313'

In [107]:
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13567 entries, 0 to 1762
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13567 non-null  int64
 1   Brand              13567 non-null  object
 2   Model              13567 non-null  object
 3   Year               13567 non-null  object
 4   Km                 13567 non-null  int32
 5   EngSize            13567 non-null  object
 6   Hp                 13567 non-null  object
 7   Fuel               13567 non-null  object
 8   Gear Type          13567 non-null  object
 9   Fuel Consumption   13567 non-null  object
 10  Price              13567 non-null  object
dtypes: int32(1), int64(1), object(9)
memory usage: 1.2+ MB

In [92]:
type(all_cars["Km"])

pandas.core.series.Series

In [108]:
all_cars["Hp"]=all_cars["Hp"].str.replace(" -", "")

In [118]:
all_cars['Hp'] = all_cars['Hp'].str.split(" ").str[0].astype(int)

In [131]:
all_cars.set_index("EngSize").filter(like='1201', axis=0)

Empty DataFrame
Columns: [Unnamed: 0, Brand, Model, Year, Km, Hp, Fuel, Gear Type, Fuel Consumption , Price]
Index: []

In [116]:
all_cars["Hp"]=all_cars["Hp"].str.rstrip(" ")

In [120]:
all_cars.set_index("Hp").filter(like='120', axis=0)

,Unnamed: 0,Brand,Model,Year,Km,EngSize,Fuel,Gear Type,Fuel Consumption,Price
Hp,,,,,,,,,,
120,18,Fiat,1.6 Multijet Urban Plus,2019.0,123000,1598 cc,Dizel,Yarı Otomatik,"3,9 lt",505.000 TL
120,23,Fiat,1.6 Multijet Urban,2018.0,165000,1598 cc,Dizel,Yarı Otomatik,"3,9 lt",470.000 TL
120,28,Fiat,1.6 Multijet Lounge Plus,2017.0,119000,1598 cc,Dizel,Yarı Otomatik,"3,9 lt",499.000 TL
120,29,Fiat,1.6 Multijet Easy,2019.0,63961,1598 cc,Dizel,Yarı Otomatik,"3,9 lt",545.000 TL
120,36,Fiat,1.6 Multijet S-Design,2020.0,6764,1598 cc,Dizel,Yarı Otomatik,"3,8 lt",605.000 TL
...,...,...,...,...,...,...,...,...,...,...
120,1884,Renault,1.2 Turbo Icon,2015.0,91000,1197 cc,Benzin,Yarı Otomatik,"5,2 lt",425.000 TL
120,1942,Renault,1.2 Turbo Joy,2018.0,25200,1197 cc,Benzin,Yarı Otomatik,"5,2 lt",416.000 TL
120,2238,Renault,1.2 Icon,2015.0,73000,1197 cc,Benzin,Yarı Otomatik,"5,2 lt",380.000 TL
120,2430,Renault,1.2 Turbo Touchrome,2017.0,99000,1197 cc,Benzin,Yarı Otomatik,"5,2 lt",485.000 TL
120,2478,Renault,1.2 Turbo Icon,2016.0,12000,1197 cc,Benzin,Yarı Otomatik,"5,2 lt",544.000 TL

In [121]:
for i in all_cars["Hp"]:
    i.strip(" HP")
    Hp.

SyntaxError: invalid syntax (241957757.py, line 3)

In [60]:
all_cars.tail()

,Unnamed: 0,Brand,Model,Year,Km,EngSize,Hp,Fuel,Gear Type,Fuel Consumption,Price
2495,2495,Renault,1.5 dCi Expression,2011.0,285.000 km,1401 - 1600 cm3,101 - 125 HP,Dizel,Düz,NaN,NaN
2496,2496,Renault,1.3 TCe Joy,2020.0,13.500 km,1332 cc,140 hp,Benzin,Düz,"5,5 lt",NaN
2497,2497,Renault,1.5 dCi Dynamique,2009.0,360.000 km,1461 cc,105 hp,Dizel,Düz,"4,5 lt",NaN
2498,2498,Renault,1.5 dCi Touch,2017.0,114.000 km,1461 cc,110 hp,Dizel,Yarı Otomatik,"3,8 lt",NaN
2499,2499,Renault,1.5 dCi Authentique,2011.0,222.000 km,1461 cc,85 hp,Dizel,Düz,"4,5 lt",NaN

In [16]:
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13567 entries, 0 to 1762
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13567 non-null  int64
 1   Brand              13567 non-null  object
 2   Model              13567 non-null  object
 3   Year               13567 non-null  object
 4   Km                 13567 non-null  object
 5   EngSize            13567 non-null  object
 6   Hp                 13567 non-null  object
 7   Fuel               13567 non-null  object
 8   Gear Type          13567 non-null  object
 9   Fuel Consumption   13567 non-null  object
 10  Price              13567 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [98]:
all_cars=all_cars.dropna()

In [83]:
for col in all_cars.columns:
    all_cars[col] = all_cars[col].astype(str)

In [56]:
for col in all_cars.columns:
    if col not in ["Year", "Brand", "Fuel","Gear Type","Model"]:
        all_cars[col] = pd.to_numeric(all_cars[col].str.replace(r'[^\d.,]', '').str.replace(',', '.'), errors='coerce')
        if col in ["Km", "EngSize", "Hp"]:
            all_cars[col] = all_cars[col].astype(int)
        elif col == "Price":
            all_cars[col] = all_cars[col].astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_11260\670463088.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  all_cars[col] = pd.to_numeric(all_cars[col].str.replace(r'[^\d.,]', '').str.replace(',', '.'), errors='coerce')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [50]:
all_cars

,Unnamed: 0,Brand,Model,Year,Km,EngSize,Hp,Fuel,Gear Type,Fuel Consumption,Price
0,0,Volkswagen,1.2 TDi Trendline,2012.0,170.000,1199 cc,75 hp,Dizel,Düz,"3,8 lt",325.000 TL
1,1,Volkswagen,1.6 TDi Comfortline,2010.0,135.000,1598 cc,90 hp,Dizel,Yarı Otomatik,"4,3 lt",355.000 TL
2,2,Volkswagen,1.6 TDi Comfortline,2018.0,130.000,1598 cc,95 hp,Dizel,Yarı Otomatik,"3,9 lt",600.000 TL
3,3,Volkswagen,1.2 TSi Comfortline,2014.0,114.000,1197 cc,90 hp,Benzin,Yarı Otomatik,"4,7 lt",522.500 TL
4,4,Volkswagen,1.4 TDi Comfortline,2017.0,214.775,1422 cc,90 hp,Dizel,Yarı Otomatik,"3,5 lt",469.750 TL
...,...,...,...,...,...,...,...,...,...,...,...
1758,1758,Volkswagen,1.6 TDi Comfortline,2012.0,220.000,1598 cc,105 hp,Dizel,Düz,"3,8 lt",320.000 TL
1759,1759,Volkswagen,1.6 TDi BlueMotion Comfortline,2019.0,61.000,1598 cc,115 hp,Dizel,Yarı Otomatik,"4,2 lt",880.000 TL
1760,1760,Volkswagen,1.6 TDi Trendline,2012.0,144.000,1598 cc,105 hp,Dizel,Düz,"4,5 lt",410.000 TL
1761,1761,Volkswagen,1.6 Comfortline,2002.0,259.000,1595 cc,105 hp,LPG & Benzin,Düz,"6,8 lt",247.000 TL
1762,1762,Volkswagen,1.6 TDi BlueMotion Midline Plus,2014.0,180.000,1598 cc,90 hp,Dizel,Düz,"3,8 lt",485.000 TL